<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>DockerLab Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container center">
        <a class="btn btn-sm btn-info" th:href="@{/register}">Register</a>
        <a class="btn btn-sm btn-info" th:href="@{/users}">User</a>
    </div>
</div>

</body>
</html>