<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Create account</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container center">
        <form th:object="${userDto}" th:action="@{/register}" method="post">
            <div th:if="${#fields.hasErrors()}">
                <ul>
                    <li th:each="err,iterStatus : ${#fields.errors()}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <div th:class="${#fields.hasErrors()}?'form-group has-error':'form-group'">
                <label th:class="${#fields.hasErrors('username')}?'control-label'"  >Username:</label>
                <input value="" class="form-control" type="text"
                       th:field="*{username}"/><br/>

                <label th:class="${#fields.hasErrors('email')}?'control-label'" >Email:</label>
                <input value="" class="form-control" type="email"
                       th:field="*{email}"/><br/>

                <label th:class="${#fields.hasErrors('password')}?'control-label'" >Password:</label>
                <input value="" class="form-control" type="password"
                       th:field="*{password}"/><br/>

                <button type="submit" class="btn btn-sm btn-default">Register</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>