<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Registered user</title>
</head>
<body>

<div layout:fragment="content">
    <div class="center">
        <ul class="list-group" th:if="${users!=null}">
            <li th:each="usr,iter : ${users}" th:text="${usr.username}">Username<br/></li>
        </ul>
    </div>
</div>

</body>
</html>